extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
      
        h1 Taneya Boyde
        p Full Stack JavaScript Developer


        .about-bio
          p Currently, I am a Software Engineer Apprentice for Intuit in San Diego, CA. Prior to my apprenticeship, I enrolled in a Google’s TEC Fellowship program where I picked up Linux, Python, ML/AI, and learned how to properly utilize GCP and it’s fully managed services. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li Node.js
          li Express
          li Pug
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li AWS
          li GCP 
          li Adobe Creative Suite 

        h6 Contact Info


        ul
          li 562-528-0301
          li taneyaboyde@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/taneyaboyde' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/tboyde' target='_blank') GitHub
        a.btn-link(href= 'https://docs.google.com/presentation/d/1X2CxAloXLAaEvA2Q8tk8txVu71gDfAc2BTuMCL36WCE/edit' target='_blank') Learn A Little More 

    nav.nav
      a(href='/')
        span &larr;
        |  Back