extends layout.pug

block content

    nav.nav
    a(href='/')
      span &larr;
      |  Back

    h1= err.status
    h2= err.message
    pre #{err.stack}

    nav.nav
    a(href='/')
      span &larr;
      |  Back