extends layout.pug

block content

  article.portfolio-intro


    h1 Welcome To My Portfolio! 

 
    p This is the place where I share what I’ve built, the tech stacks used, and my intentions for each one of my projects. Here, you’ll also be able to directly connect to the repo and experience each project live. 
  

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src= `${project.thumbnail}`, alt=`Thumbnail - ${project.project_name}`)
            h5 #{project.project_name}

            

